In [2]:
import numpy as np
import pandas as pd
from IPython.display import Markdown, display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("../test.csv")

In [4]:
df[df.columns[df.isna().any()].tolist()].count().apply(lambda x: 1460 - x)

MSZoning           5
LotFrontage      228
Alley           1353
Utilities          3
Exterior1st        2
Exterior2nd        2
MasVnrType        17
MasVnrArea        16
BsmtQual          45
BsmtCond          46
BsmtExposure      45
BsmtFinType1      43
BsmtFinSF1         2
BsmtFinType2      43
BsmtFinSF2         2
BsmtUnfSF          2
TotalBsmtSF        2
BsmtFullBath       3
BsmtHalfBath       3
KitchenQual        2
Functional         3
FireplaceQu      731
GarageType        77
GarageYrBlt       79
GarageFinish      79
GarageCars         2
GarageArea         2
GarageQual        79
GarageCond        79
PoolQC          1457
Fence           1170
MiscFeature     1409
SaleType           2
dtype: int64

In [5]:



keep_na_cols = ['Alley', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 
'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 
'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']
keep_na_dict = {col : "NA" for col in keep_na_cols}
change_na_cols = [col for col in df.columns if col not in keep_na_cols]
change_na_dict = {col : 'N/A' for col in change_na_cols}

df.fillna(change_na_dict, inplace=True)
df.fillna(keep_na_dict, inplace=True)
df.to_csv("../test_cleaner.csv")

In [6]:
df = pd.read_csv("../test_cleaner.csv", na_values='N/A', keep_default_na=False, index_col='Id')

In [7]:
df[df.columns[df.isna().any()].tolist()].count().apply(lambda x: 1460 - x)

MSZoning          5
LotFrontage     228
Utilities         3
Exterior1st       2
Exterior2nd       2
MasVnrType       17
MasVnrArea       16
BsmtFinSF1        2
BsmtFinSF2        2
BsmtUnfSF         2
TotalBsmtSF       2
BsmtFullBath      3
BsmtHalfBath      3
KitchenQual       2
Functional        3
GarageYrBlt      79
GarageCars        2
GarageArea        2
SaleType          2
dtype: int64

In [8]:
df['MasVnrType'].fillna('None', inplace=True)
df['MasVnrArea'].fillna(0.0, inplace=True)

In [9]:
yr_remod = df['YearRemodAdd'] - df['YearBuilt']
df.insert(80, 'AgeRemodAdd', yr_remod)
df.drop('YearRemodAdd', axis = 1, inplace=True)

In [10]:
df.dropna(axis=0, inplace=True, subset=['Utilities', 'MSZoning', 'TotalBsmtSF'])

In [22]:
df.drop('Utilities', axis=1, inplace=True)

In [11]:
df[df.columns[df.isna().any()].tolist()].count().apply(lambda x: 1460 - x)

LotFrontage     232
Exterior1st       8
Exterior2nd       8
BsmtFullBath      8
BsmtHalfBath      8
KitchenQual       8
Functional        8
GarageYrBlt      85
GarageCars        8
GarageArea        8
SaleType          8
dtype: int64

In [12]:
df.drop('GarageCars', axis=1, inplace=True)
df['LotFrontage'] = df.groupby('Neighborhood')['LotFrontage'].transform(lambda x : x.fillna(x.mean()))
df.drop('GarageYrBlt', axis=1, inplace=True)
df['MSSubClass'] = df['MSSubClass'].apply(lambda x: f"{x}".format(x))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1453 entries, 1461 to 2919
Data columns (total 78 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1453 non-null   int64
 1   MSSubClass     1453 non-null   object
 2   MSZoning       1453 non-null   object
 3   LotFrontage    1453 non-null   float64
 4   LotArea        1453 non-null   int64
 5   Street         1453 non-null   object
 6   Alley          1453 non-null   object
 7   LotShape       1453 non-null   object
 8   LandContour    1453 non-null   object
 9   Utilities      1453 non-null   object
 10  LotConfig      1453 non-null   object
 11  LandSlope      1453 non-null   object
 12  Neighborhood   1453 non-null   object
 13  Condition1     1453 non-null   object
 14  Condition2     1453 non-null   object
 15  BldgType       1453 non-null   object
 16  HouseStyle     1453 non-null   object
 17  OverallQual    1453 non-null   int64
 18  OverallCond    1453 non-null   int64
 19  YearBuilt      1453 non-null   int64
 20  RoofStyle      1453 non-null   object
 21  RoofMatl       1453 non-null   object
 22  Exterior1st    1452 non-null   object
 23  Exterior2nd    1452 non-null   object
 24  MasVnrType     1453 non-null   object
 25  MasVnrArea     1453 non-null   float64
 26  ExterQual      1453 non-null   object
 27  ExterCond      1453 non-null   object
 28  Foundation     1453 non-null   object
 29  BsmtQual       1453 non-null   object
 30  BsmtCond       1453 non-null   object
 31  BsmtExposure   1453 non-null   object
 32  BsmtFinType1   1453 non-null   object
 33  BsmtFinSF1     1453 non-null   float64
 34  BsmtFinType2   1453 non-null   object
 35  BsmtFinSF2     1453 non-null   float64
 36  BsmtUnfSF      1453 non-null   float64
 37  TotalBsmtSF    1453 non-null   float64
 38  Heating        1453 non-null   object
 39  HeatingQC      1453 non-null   object
 40  CentralAir     1453 non-null   object
 41  Electrical     1453 non-null   object
 42  1stFlrSF       1453 non-null   int64
 43  2ndFlrSF       1453 non-null   int64
 44  LowQualFinSF   1453 non-null   int64
 45  GrLivArea      1453 non-null   int64
 46  BsmtFullBath   1452 non-null   float64
 47  BsmtHalfBath   1452 non-null   float64
 48  FullBath       1453 non-null   int64
 49  HalfBath       1453 non-null   int64
 50  BedroomAbvGr   1453 non-null   int64
 51  KitchenAbvGr   1453 non-null   int64
 52  KitchenQual    1452 non-null   object
 53  TotRmsAbvGrd   1453 non-null   int64
 54  Functional     1452 non-null   object
 55  Fireplaces     1453 non-null   int64
 56  FireplaceQu    1453 non-null   object
 57  GarageType     1453 non-null   object
 58  GarageFinish   1453 non-null   object
 59  GarageArea     1452 non-null   float64
 60  GarageQual     1453 non-null   object
 61  GarageCond     1453 non-null   object
 62  PavedDrive     1453 non-null   object
 63  WoodDeckSF     1453 non-null   int64
 64  OpenPorchSF    1453 non-null   int64
 65  EnclosedPorch  1453 non-null   int64
 66  3SsnPorch      1453 non-null   int64
 67  ScreenPorch    1453 non-null   int64
 68  PoolArea       1453 non-null   int64
 69  PoolQC         1453 non-null   object
 70  Fence          1453 non-null   object
 71  MiscFeature    1453 non-null   object
 72  MiscVal        1453 non-null   int64
 73  MoSold         1453 non-null   int64
 74  YrSold         1453 non-null   int64
 75  SaleType       1452 non-null   object
 76  SaleCondition  1453 non-null   object
 77  AgeRemodAdd    1453 non-null   int64
dtypes: float64(9), int64(25), object(44)
memory usage: 896.8+ KB

In [14]:
df[df.columns[df.isna().any()].tolist()].count()

Exterior1st     1452
Exterior2nd     1452
BsmtFullBath    1452
BsmtHalfBath    1452
KitchenQual     1452
Functional      1452
GarageArea      1452
SaleType        1452
dtype: int64

In [15]:
df[df['Exterior1st'].isna()][['Exterior2nd', 'BsmtFullBath', 'BsmtHalfBath', 'KitchenQual', 'Functional', 'GarageArea', 'SaleType']]

,Exterior2nd,BsmtFullBath,BsmtHalfBath,KitchenQual,Functional,GarageArea,SaleType
Id,,,,,,,
2152,NaN,1.0,0.0,Fa,Typ,0.0,WD

In [16]:
df.dropna()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,AgeRemodAdd
Id,,,,,,,,,,,,,,,,,,,,,
1461,0,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,0
1462,1,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,0
1463,2,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,1
1464,3,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,6,2010,WD,Normal,0
1465,4,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,...,0,NA,NA,NA,0,1,2010,WD,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,1454,160,RM,21.0,1936,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,6,2006,WD,Normal,0
2916,1455,160,RM,21.0,1894,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,4,2006,WD,Abnorml,0
2917,1456,20,RL,160.0,20000,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,9,2006,WD,Abnorml,36
2918,1457,85,RL,62.0,10441,Pave,NA,Reg,Lvl,AllPub,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,0
2919,1458,60,RL,74.0,9627,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,11,2006,WD,Normal,1

In [19]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [23]:
df.to_csv('../base_test.csv')